<h3>Payment Results</h3>

<dl>
  <dt> APR </dt>
  <dd><%= @apr %></dd>

  <dt> Number of Years </dt>
  <dd> <%= @number_of_years %> </dd>

  <dt> Principal </dt>
  <dd><%= @principal %></dd>

  <dt> Payment </dt>
  <dd><%= @monthly_payment %></dd>
</dl>


<a href="/payment/new">Calculate another payment</a>
