<h3>Payment Results</h3>

<dl>
  <dt> APR </dt>
  <dd><%= @apr %></dd>

  <dt> Principal </dt>
  <dd><%= @principal %></dd>

  <dt> Payment </dt>
  <dd><%= @result %></dd>
</dl>


<a href="/payment/new">Calculate another paymentr</a>
