<h2>Square Root Results</h2>

<dl>
  <dt> Number </dt>
  <dt> <%= @num1 %> </dt>

  <dt> Square Root </dt>
  <dt> <%= @square_root_of_num1 %> </dt>
</dl>

<a href="/square_root/new">Calculate another square</a>
