<form action="/random/results">
  <div>
    <label for="user_min" >Minimum</label>
  </div>
  <div>
    <input id="user_min" type="text" placeholder="E.g. 2.5" name="user_min">
  </div>
  
  <div>
    <label for="user_max" >Maximum</label>
  </div> 
  <div>
    <input id="user_max" type="text" placeholder="E.g 9.5" name="user_max">
  </div>
  <button>Pick random number</button>

</form>
