<form action="/square_root/results">
  <div>
    <label for="square_root" >Enter a number</label>
  </div>
  <div>
    <input id="square_root" type="text" placeholder="What number do you want to square?" name="square_root">
  </div>
  <button>Calculate Square Root</button>

</form>
