<form action="/square/results">
  <div>
    <label for="pillow" >Enter a number</label>
  </div>
  <div>
    <input id="pillow" type="text" placeholder="What number do you want to square?" name="pillow">
  </div>
  <button>Calculate Square</button>

</form>
