<form action="/square/results">
  <div>
    <label for="pillow"> Enter a number </label>
    <input id="pillow" type="text" placeholder="What number do you want to square?" name="pillow">
  </div>
  <button>Calculate square root</button>

</form>
