<H2>Howdy</h2>

<form action="/square/results">
  <label for="pillow" >Enter a number</label>
  <input id="pillow" type="text" placeholder="What number do you want to square?" name="pillow">

  <button>Calculate Square</button>

</form>
