<H2>Square Root Results</h2>

<dl>
  <dt> Nuumber </dt>
  <dt> <%= @num %> </dt>

  <dt> Square Root </dt>
  <dt> <%= @square_of_num %> </dt>
</dl>

<a href="/square/new">Calculate another square</a>
